{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
      initial-scale=1.0"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Nunito", sans-serif;
      }
    </style>

    <title>Lista de Tarefas</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-neutral-900 w-full min-h-screen flex flex-col items-center px-8"
  >
    <header class="w-full h-full px-0 mb-8">
      <nav class="bg-gray-transparent">
        <div class="px-4">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <button
                type="button"
                class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                aria-controls="mobile-menu"
                aria-expanded="false"
              >
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg
                  class="block h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  />
                </svg>

                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18 18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <div
              class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
            >
              <div class="flex flex-shrink-0 items-center">
                <img
                  class="w-[124px]"
                  src="{% static '../static/img/task-master-logo.png' %}"
                  alt=""
                />
              </div>
              <div class="hidden sm:ml-6 sm:flex items-center">
                <div class="flex space-x-4 {% load static %}">
                  <a
                    href="#"
                    class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                    aria-current="page"
                    >Dashboard</a
                  >
                  <a
                    href="#"
                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                    >Team</a
                  >
                  <a
                    href="#"
                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                    >Projects</a
                  >
                  <a
                    href="#"
                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                    >Calendar</a
                  >
                </div>
              </div>
            </div>
            <div
              class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
            >
              <button
                type="button"
                class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              >
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">View notifications</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
                  />
                </svg>
              </button>
              <div class="relative ml-3">
                <div>
                  <button
                    type="button"
                    class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                    id="user-menu-button"
                    aria-expanded="false"
                    aria-haspopup="true"
                  >
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <img
                      class="h-8 w-8 rounded-full object-cover"
                      src="https://images.unsplash.com/photo-1715090452068-b94050196240?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      alt=""
                    />
                  </button>
                </div>
                <div
                  class="absolute hidden right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-0"
                    >Your Profile</a
                  >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-1"
                    >Settings</a
                  >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-2"
                    >Sign out</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <a
              href="#"
              class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white"
              aria-current="page"
              >Dashboard</a
            >
            <a
              href="#"
              class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
              >Team</a
            >
            <a
              href="#"
              class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
              >Projects</a
            >
            <a
              href="#"
              class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
              >Calendar</a
            >
          </div>
        </div>
      </nav>
    </header>
    <div class="flex flex-col items-start p-5 justify-between gap-16">
      <div
        class="flex justify-center items-center p-6 bg-white rounded-lg shadow-md w-full"
      >
        {% if user.is_authenticated %}
        <div class="text-center">
          <p class="text-lg font-medium text-gray-700">
            Bem-vindo, <span class="text-blue-500">{{ user.username }}</span>!
          </p>
          <form action="{% url 'login' %}" method="post" class="mt-4">
            {% csrf_token %}
            <button
              type="submit"
              class="px-4 py-2 bg-red-500 text-white font-semibold rounded-lg hover:bg-red-600 transition duration-300"
            >
              Sair
            </button>
          </form>
        </div>
        {% else %}
        <div class="text-center">
          <a
            href="{% url 'login' %}"
            class="text-blue-500 hover:text-blue-700 font-medium text-lg"
          >
            Entrar
          </a>
        </div>
        {% endif %}
      </div>
      <div class="flex flex-col gap-2 w-full bg-neutral-800 p-4 rounded-md">
        <h2 class="text-2xl font-medium text-gray-50">Adicionar nova tarefa</h2>
        <form class="text-gray-50 w-[500px] space-y-4" method="POST">
          {% csrf_token %}

          <div>
            <label for="titulo-tarefa" class="block text-sm font-medium"
              >Título da Tarefa:</label
            >
            <input
              type="text"
              name="titulo-tarefa"
              id="titulo-tarefa"
              placeholder="Título da tarefa"
              required
              class="w-full border border-gray-300 rounded-md p-2 mt-1 text-neutral-900"
            />
          </div>

          <div>
            <label for="descricao-tarefa" class="block text-sm font-medium"
              >Descrição:</label
            >
            <textarea
              name="descricao-tarefa"
              id="descricao-tarefa"
              placeholder="Descrição da tarefa"
              class="w-full border border-gray-300 rounded-md p-2 mt-1 text-neutral-900"
            ></textarea>
          </div>

          <div class="flex items-center gap-2">
            <input
              type="checkbox"
              name="concluida"
              id="concluida"
              class="h-4 w-4"
            />
            <label for="concluida" class="text-sm font-medium">Concluída</label>
          </div>

          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
          >
            Adicionar
          </button>
        </form>
      </div>

      <div class="w-full">
        <h1 class="text-xl font-semibold mb-4 text-gray-50">
          Minha Lista de Tarefas
        </h1>
        <ul class="w-full flex flex-col gap-4">
          {% for tarefa in tarefas %}
          <li class="bg-gray-100 p-4 rounded-md shadow-sm w-full">
            <strong class="block text-lg">{{ tarefa.titulo }}</strong>
            <p class="text-sm text-gray-600">{{ tarefa.descricao }}</p>
            <p class="text-sm text-gray-500">
              Criada em: {{ tarefa.data_criacao|date:"d/m/Y H:i" }}
            </p>
            <p class="text-sm">
              Status:
              <span
                class="font-semibold {% if tarefa.concluida %}text-green-500{% else %}text-red-500{% endif %}"
              >
                {% if tarefa.concluida %}Concluída{% else %}Pendente{% endif %}
              </span>
            </p>

            <form method="POST" class="inline">
              {% csrf_token %} {% if not tarefa.concluida %}
              <input
                type="hidden"
                name="concluir-tarefa"
                value="{{ tarefa.id }}"
              />
              <button
                type="submit"
                class="mt-2 bg-green-500 text-white px-3 py-1 rounded-md hover:bg-green-600"
              >
                Concluir
              </button>
              {% endif %}
            </form>

            <form method="POST" class="inline">
              {% csrf_token %}
              <input
                type="hidden"
                name="excluir-tarefa"
                value="{{ tarefa.id }}"
              />
              <button
                type="submit"
                class="mt-2 bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600"
              >
                Excluir
              </button>
            </form>
            <button
              onclick="document.getElementById('edit-form-{{ tarefa.id }}').classList.toggle('hidden')"
              class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600"
            >
              Editar
            </button>

            <form
              id="edit-form-{{ tarefa.id }}"
              method="POST"
              class="hidden bg-gray-200 p-4 mt-2 rounded-md max-w-[400px]"
            >
              {% csrf_token %}
              <input
                type="hidden"
                name="editar-tarefa-id"
                value="{{ tarefa.id }}"
              />

              <label for="editar-titulo">Título:</label>
              <input
                type="text"
                name="editar-titulo"
                id="editar-titulo"
                value="{{ tarefa.titulo }}"
                class="w-full mb-2 p-1 border border-gray-300 rounded"
              />

              <label for="editar-descricao">Descrição:</label>
              <textarea
                name="editar-descricao"
                id="editar-descricao"
                class="w-full mb-2 p-1 border border-gray-300 rounded"
              >
{{ tarefa.descricao }}</textarea
              >

              <label for="editar-concluida">Concluída:</label>
              <input
                type="checkbox"
                name="editar-concluida"
                id="editar-concluida"
                {%
                if
                tarefa.concluida
                %}checked{%
                endif
                %}
              />

              <button
                type="submit"
                class="bg-green-500 text-white px-3 py-1 rounded-md hover:bg-green-600 mt-2"
              >
                Salvar
              </button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <script src="{% static 'js/lista_tarefas.js' %}"></script>
  </body>
</html>
